/*! modern-normalize v0.6.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
Add the correct height in Firefox.
*/
hr {
  height: 0;
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #E5E5E5;
}

a {
  display: block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px), (orientation: landscape) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content-section {
  padding: 100px 50px;
}

.section-margin-bottom {
  margin-bottom: 40px;
}

.main-suptitle {
  font-size: 1.2em;
  line-height: 1.21;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.main-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.section-title {
  font-weight: bold;
  font-size: 1.5em;
  line-height: 1.22;
  color: #212121;
  margin-bottom: 10px;
}

.text-discription {
  line-height: 1.71;
  color: #757575;
}

/* my project section */
.my-project-list {
  padding-right: 16px;
}

.my-project-item {
  color: #000000;
}

.my-project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.underline {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px dotted #757575;
}

.my-project-link {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.my-project-link:hover, .my-project-link:focus {
  color: #212121;
}

.my-project-bracket {
  color: #000000;
}

/* my work experience section */
.experience-company-block {
  margin-bottom: 15px;
}

.experience-position {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.25;
  color: #000000;
  margin-bottom: 10px;
}

.experience-company {
  color: #FB6D3A;
}

.experience-period,
.my-education-period {
  font-size: 12px;
  line-height: 1.25;
  color: #757575;
  margin-bottom: 10px;
}

.experience-divider,
.my-education-divider {
  color: #000000;
}

.experience-duties {
  padding-bottom: 18px;
}

.experience-duty {
  color: #2F303A;
}

.my-education-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: #FB6D3A;
  margin-bottom: 10px;
}

.my-education-profession {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.21;
  color: #000000;
  margin-bottom: 10px;
}

.main-photo {
  width: 300px;
  border-radius: 20px;
}

.sidebar-section {
  background: #013848;
  padding: 40px 15px;
}

.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}

.contacts-section-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}

.contacts-section-link {
  color: #fffefd;
  font-size: 14px;
  line-height: 24px;
}

.contacts-section-link-tel {
  text-decoration: none;
}

.skills-list {
  padding: 0 0 0 20px;
}

.skills-item {
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.skills-item::marker {
  color: #FB6D3A;
}
/*# sourceMappingURL=main.css.map */