// education section
.my-education-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: $accent-color;
  margin-bottom: 10px;
}

.my-education-profession {
  font-weight: 700;
  line-height: 1.21;
  color: $black-color;
  margin-bottom: 10px;
}
