body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $parag-color;
    background-color: $light-bg-color;
}

a {
    display: block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    @media screen and (max-width: $tablet) {
        max-width: $mobile;
    }
    @media screen and (min-width: $tablet) and (max-width: $desktop),
    (orientation: landscape) {
        max-width: $tablet;
    }
    @media screen and (min-width: $desktop) {
        max-width: $desktop;
    }
}

.main-section {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $white-color;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content-section {
    padding: 50px 50px;
    width: 70%;
}

.section-margin-bottom {
    margin-bottom: 40px;
}

.main-suptitle {
    font-size: 1.2em;
    line-height: 1.21;
    font-weight: 700;
    color: $black-color;
    margin-bottom: 20px;
}

.main-title {
    font-weight: bold;
    font-size: 2rem;
    line-height: 55px;
    color: $black-color;
    margin-bottom: 25px;
}

.section-title {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.22;
    color: $title-text-color;
    margin-bottom: 10px;
}

.text-discription {
    line-height: 1.71;
    color: $parag-color;
}

// .container--flex {
//     @include centeredFlex();
// }
// .container--mobile-menu {
//     @media screen and (max-width: $tablet - 1px) {
//         min-height: 60px;
//         justify-content: space-between;
//         flex-direction: row-reverse;
//     }
// }
// .section {
//     padding-top: 60px;
//     padding-bottom: 60px;
//     margin: 0 auto;
//     @media screen and (min-width: $desktop) {
//         padding-top: 94px;
//         padding-bottom: 94px;
//     }
// }
// .section--no-padding-top {
//     padding-top: 0;
// }
// .section--block-desktop {
//     display: none;
//     @media screen and (min-width: $desktop) {
//         display: block;
//     }
// }
// .section--light-bg {
//     background-color: $light-bg-color;
// }
// .section__title {
//     margin-bottom: 50px;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 1.17;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: $title-text-color;
// }
// .section__title--visually-hidden {
//     @extend %visually-hidden;
// }
// .section__subtitle {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: $white-color;
//     @media screen and (max-width: $tablet) {
//         text-align: center;
//     }
// }
// .section__subtitle--dark-theme {
//     margin-bottom: 10px;
//     color: $title-text-color;
// }
// .section__subtitle--margin-bottom {
//     margin-bottom: 20px;
// }