$black-color: #000000;
$white-color: #FFFFFF;
$title-text-color: #212121;
$parag-color: #757575;
$link-color: #212121;
$auth-nav-color: #757575;
$accent-color: #013848;
// $accent-color: #FB6D3A;
$dark-bg-color: #2F303A;
$light-bg-color: #E5E5E5;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$time-animation: 250ms;